* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Runescape', sans-serif;
}

/* img {
    image-rendering: pixelated;
} */

@font-face {
    font-family: 'Runescape';
    src: url('/fonts/runescape.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Earth Theory';
    src: url('/fonts/EarthTheory.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

